<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="A personal site for projects, documentation, and thoughts on software development." />
  <meta name="keywords" content="Claes Adamsson, cladam, TBD, DevOps, tbdflow, choreo, ilseon, medi, blog">
  <meta name="robots" content="index, follow">
  <meta name="google-site-verification" content="c7yBT2wAbZMG9ON-mYwt-HndBlthrBo1mhsx-88Iw7M" />
  <title>{{ page.title | default: site.title }}</title>
  
  <meta name="description" content="{{ page.description | default: site.description }}">
  
  <meta name="keywords" content="{{ page.keywords | default: site.keywords }}">
  
  <!-- Umami Analytics -->
  <script defer src="https://cloud.umami.is/script.js" data-website-id="6b6a0254-9e5f-4cf5-9ca8-eb306ada8f82"></script>

  <!-- Favicon -->
  <link rel="icon" type="image/png" href="{{ '/assets/favicon.png' | relative_url }}">

  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&family=Fira+Code:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/syntax.css' | relative_url }}">
</head>
