<aside class="sidebar" id="sidebar">
  <div class="sidebar-header">
    <img src="{{ '/assets/choreo-logo.png' | relative_url }}" alt="Choreo Icon">
  </div>
  
  <nav class="sidebar-nav">
    <div class="nav-category">
      <h3 class="nav-category-title">Getting Started</h3>
    <ul>
      <li>
        <a href="{{ '/' | relative_url }}" {% if page.url == "/" %}class="active"{% endif %}>
          Introduction
        </a>
      </li>
      <li>
        <a href="{{ '/docs/core-concepts' | relative_url }}" {% if page.url == "/docs/core-concepts" %}class="active"{% endif %}>
          Core Concepts
        </a>
      </li>
    </ul>
    </div>

    <div class="nav-category">
      <h3 class="nav-category-title">Reference</h3>
      <ul>
        <li>
          <a href="{{ '/docs/choreo-reference' | relative_url }}" {% if page.url == "/docs/choreo-reference" %}class="active"{% endif %}>
            choreo DSL reference
          </a>
        </li>
        <li>
          <a href="{{ '/docs/advanced-topics' | relative_url }}" {% if page.url == "/docs/advanced-topics" %}class="active"{% endif %}>
            Advanced Topics
          </a>
        </li>
      </ul>
    </div>

    <div class="nav-category">
      <h3 class="nav-category-title">Architecture</h3>
      <ul>
          <li>
              <a href="{{ '/docs/grammar-and-parser' | relative_url }}" {% if page.url == "/docs/grammar-and-parser" %}class="active"{% endif %}>
                Grammar & Parser
              </a>
          </li>
          <li>
              <a href="{{ '/docs/backend-filesystem' | relative_url }}" {% if page.url == "/docs/backend-filesystem" %}class="active"{% endif %}>
                  FileSystem Backend
              </a>
          </li>
          <li>
              <a href="{{ '/docs/backend-terminal' | relative_url }}" {% if page.url == "/docs/backend-terminal" %}class="active"{% endif %}>
                  Terminal Backend
              </a>
          </li>
          <li>
              <a href="{{ '/docs/backend-web' | relative_url }}" {% if page.url == "/docs/backend-web" %}class="active"{% endif %}>
                  Web Backend
              </a>
          </li>
      </ul>
    </div>

    <div class="nav-category">
      <h3 class="nav-category-title">Examples</h3>
      <ul>
        <li>
          <a href="{{ '/docs/examples-filesystem' | relative_url }}" {% if page.url == "/docs/examples-filesystem" %}class="active"{% endif %}>
            FileSystem Examples
          </a>
        </li>
        <li>
          <a href="{{ '/docs/examples-terminal' | relative_url }}" {% if page.url == "/docs/examples-terminal" %}class="active"{% endif %}>
            Terminal Examples
          </a>
        </li>
        <li>
          <a href="{{ '/docs/examples-web' | relative_url }}" {% if page.url == "/docs/examples-web" %}class="active"{% endif %}>
            Web Examples
          </a>
        </li>
      </ul>
    </div>
  </nav>
</aside>
