<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <header class="top-header">
       </header>

    <main class="main-container">
      {% include sidebar.html %}
      <div class="main-content" id="main-content">
        {{ content }}
      </div>
    </main>

    {% include scripts.html %}
  </body>
</html>

/*<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <header class="top-header">
      <div class="header-content">
        <div class="search-bar">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16"><path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/></svg>
          <input type="text" placeholder="Search docs...">
        </div>
        <a href="https://github.com/cladam/choreo" class="header-button" target="_blank">Go to GitHub</a>
      </div>
    </header>

    <div class="container">
      {% include sidebar.html %}
      <div class="main-content" id="main-content">
        {{ content }}
      </div>
    </div>

    {% include scripts.html %}
  </body>
</html>*/
